body{
    background-image: url("background.jpg");
    background-size: 10em;
    background-position: center;
}

h1{
    color:tan;
    font-size: 2em;
    font-family:fantasy;
    text-align: center;
    text-shadow: 2px 2px 5px chocolate;
    overflow:visible;
}

div.sticky{
    top: 2px;
    position: sticky;
}

p.intro:hover {
    color:saddlebrown;
}

.intro{
    font-size: 2em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightcoral;
}

p.intro::first-line{
    color: saddlebrown;
    font-size: 4em;
}

h3{
    font-size: 2em;
    color: salmon;
    font-family: 'Courier New';
}

.profil{
    font-size: 1.5em;
    color: salmon;
    width: 30em;;
    height: 10em;
    overflow: scroll;
}

.prof1:hover{
    color: slateblue;
}

.pend1:hover{
    color: slateblue;
}

.med1:hover{
    color: slateblue;
}

.hob1:hover{
    color: slateblue;
}

.suka:hover{
    color: slateblue;
}

.cm:hover{
    color: slateblue;
}

li{
    color: saddlebrown;
    display:list-item;
}

#Pendidikan{
    font-size: 1.5em;
    font-family:Verdana;
    color:salmon;
    text-align: left;
}

.medsos{
    font-size: 1.5em;
    font-family: Geneva;
    color: salmon;
}

div p{
    font-family: sans-serif;
}

.hobi{
    font-family: 'Courier New';
    font-size: 1.5em;
    color: salmon;
    text-align: left;
}

#kesukaan{
    font-size: 1.5em;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: salmon;
}

input[type=text]{
    border: none;
    border-bottom: 2px solid red;
}

a:visited{
    color:red;
}

a:link{
    color: black;
}

a:hover{
    color:yellow;
}

a:active{
    color: chocolate;
}

.contact{
    text-align: center;
    font-size: 1.5em;
}

.text{
    text-align: center;
}

ul.a{
    list-style-type: circle;
}

ul.b{
    list-style-type: circle;
}

.min{
    text-align: left;
}

iframe{
    width: 25em;
    height: 15em;
}

@media screen and (max-width: 900px) {
    h1{
        font-size: 1.5em;
    }

    .intro{
        font-size: 1.5em;
    }

    .profil{
        font-size: 1.2em;
    }

    #Pendidikan{
        font-size: 1.2em;
    }

    .medsos{
        font-size: 1.2em;
    }
    
    .hobi{
        font-size: 1.2em;
    }

    #kesukaan{
        font-size: 1.2em;
    }
}

img{
    width: 20em;
    height: 20em;
}

@media screen and (max-width: 480px) {
    img{
        display:inline;
        width: 10em;
        height: 10em;
    }

    iframe{
        display: inline;
        width: 15em;
        height: 10em;
    }

    .contact{
        font-size: 1em;
        display: block;
    }

    .intro{
        font-size: 1.2em;
    }

    .profil{
        font-size: 1em;
    }

    #Pendidikan{
        font-size: 1em;
    }

    .medsos{
        font-size: 1em;
    }
    
    .hobi{
        font-size: 1em;
    }

    #kesukaan{
        font-size: 1em;
    }
}